{{ template "_internal/google_analytics.html" . }}
{{ if isset .Site.Params "analytics_src" }}
<script>
    function analytics() {
        if (navigator.doNotTrack !== 1) {
            let script = document.createElement("script");
            script.async = true;
            script.src = "{{ .Site.Params.Analytics_Src }}";
            script.setAttribute("data-website-id", "{{ .Site.Params.Website_Id }}");
            document.body.appendChild(script);
        }
    }
    window.addEventListener("load", analytics);
</script>
{{ end }}
